.productImage {
    height: 300px;
    object-fit: cover;
    object-position: top left;
}

.productContainer {
    border: 1px solid black;
}

.productDesc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4;
    -webkit-box-orient: vertical;
}
